
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", system-ui, Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
::placeholder {
  font-style: italic;
  color: gray;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  :root {
    --bam-blue: #283779;
    --bam-blue-50: rgba(40, 55, 121, .3);
  }
   body {
    background-color: #efefef;
    overscroll-behavior-y: contain;
   }
   .ipad {
    background: white;
    margin: 30px auto;
    padding: 20px;
    max-width: 960px;

   }
  .logo img {
    max-width: 200px;
  } 
  label, .section-label {
    font-size: 0.8rem;
    color: #585858;
  }
  .section-label {
    text-transform: uppercase;
  }
  section {
    border-bottom: 2px solid var(--bam-blue-50);
    padding: 5px 0;
  }
  section label {
    font-size: 1rem;
  }
  .bluebar {
    background-color: var(--bam-blue);
    color: white;
    padding: 5px;
  }
  .amount, .amount-total {
    text-align: right;
  }
  .amount-total {
    font-weight: bold;
  }
  input[type=number] {
    width: 80px;
    display: inline;
  }
  .invoice-number {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
  }
  .signature-small {
    width: 100%;
    height: 62px;
    border: 1px solid #EBECEF;
    border-radius: 7px;
    display: block;
    text-align: center;
  }
  .signature-small img {
    max-width: 100%;
    max-height: 62px;
  }
  .btn-primary {
    background-color: var(--bam-blue);
  }
  .form-control-plaintext {
    font-size: 0.9rem;
    color: dodgerblue;
    padding: 0;
  }
  dialog {
    opacity: 0;
    transition: opacity 3s;
  }
  dialog[open] {
    opacity: 1;
    pointer-events: inherit;  
  }
  dialog .close {
    position: absolute;
    top: 5px;
    right: 3px;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 0.1rem;
    padding: 4px;
    background-color: orange;
    clip-path: circle();
 }
  dialog::backdrop {
    background-color: #7e7e7e;
    opacity: 0.8;
  }
  .attention {
    border: 3px solid red;
  }
  dialog #sig {
    background: #ededed;
  }
  #sig canvas {
    border-radius: 20px;
    border: 1px solid gray;
    margin-bottom: 1em;
    background: #ffffff;
  }
  #txInvoice, #txCustEmail {
    font-weight: bold;
  }


/* ==========================================================================
   Admin page
   ========================================================================== */

.ratebox {
  background-color: #d9d9d9;
  padding: 1rem;
  border: 1px solid white;
}
.ratebox td:nth-child(1) {
  font-size: 0.8em;
  text-align: right;
  padding-right: 0.5em;
}
.ratebox h5 {
  font-size: 0.9em;
  letter-spacing: 0.2em;
}
.ratebox table {
  margin: 0 auto;
}
input[type=number] {
  box-shadow: inset 3px 3px 3px rgba(32, 91, 118, 0.4);
  border-radius: 5px;
  border-color: transparent;
  border-width: 0px;
  padding: 2px;
  text-indent: 5px;
}
.filelinks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
.filelinks a {
  text-decoration: none;
  color: var(--bam-blue);
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 7px;
}
.filelinks a:hover {
  background-color: var(--bam-blue-50);
}
.text-muted {
  font-size: 0.8em;
  font-style: italic;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden,
[hidden] {
  display: none !important;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* It targets only the app used within the browser */
@media (display-mode: browser) {
}
/* It targets only the app used with a system icon in standalone mode */
@media (display-mode: standalone) {
}
/* It targets only the app used with a system icon in all mode */
@media (display-mode: standalone), (display-mode: fullscreen), (display-mode: minimal-ui) {
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

